body {
    margin: 0 0 0 0;
    background-color: #663399;
    color: #000000;
    font-family: Tahoma, Helvetica, sans-serif;
}

main {
    background-color: #663399;
    background-image: linear-gradient(to bottom, #9933cc, #663399);
    color: #ffffff;
    margin: 65px 5px 0 215px;
    padding: 10px;
    border-style: double;
    display: block;
}

header {
    background-color: #663399;
    width: 100%;
    position: fixed;
}

h1 {
    margin-top: 5px;
    margin-bottom: 10px;
    width: 100%;
    background-color: #ffffff;
    text-shadow: 3px 3px 3px #666;
    box-shadow: 5px 5px 5px #1e1e1e;
    text-transform: uppercase;
}

h2 {
    background-color: #ffff00;
    color: #000000;
    text-align: center;
    font-family: Georgia, Palatino, serif;
}

p {
    text-indent: 10px;
}

nav {
    margin-top: 80px;
    float: left;
    width: 200px;
    padding: 10px;
    font-weight: bold;
    font-size: 1.30em;
    position: fixed;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav a {
    text-decoration: none;
    padding: 10px;
    display: block;
    background-color: #663399;
    border-bottom: 1px solid #FFFFFF;
}

nav a:link {
    color: #ffffff;
}

nav a:visited {
    color: #000000;
}

nav a:hover {
    color: #663399;
    background-color: #ffff00;
}

footer {
    background-color: #663399;
    font-size: .60em;
    font-style: italic;
    text-align: center;
}

#content {
    color: #000000;
    text-align: center;
}

.feature {
    color: #ffff00;
    list-style-type: upper-alpha;
}

#wrapper {
    background-color: #663399;
    color: #000000;
    font-family: Tahoma, Helvetica, sans-serif;
}

@media only screen and (max-width: 768px) {
    nav {
        float: none;
        width: auto;
        font-size: 100%;
        margin-top: 20px;
        position: relative;
        overflow: auto;
    }
    nav a {
        display: inline;
        padding: 3px;
        border-bottom: none;
        text-decoration: underline;
    }
    nav li {
        display: inline;
    }
    aside {
        display: none;
    }
    main {
        margin: 0 5%;
    }
    img {
        margin-left: 10px;
    }
    #floatleft {
        float: left;
        width: 100%;
    }
    header {
        background-color: #663399;
        position: relative;
    }
}

@media only screen and (max-width: 480px) {
    #wrapper {
        width: auto;
    }
    h1 {
        margin-bottom: 0;
    }
    main {
        margin: 0 5%;
        width: auto;
    }
    nav {
        width: auto;
    }
    nav ul {
        padding-left: 0;
        text-align: center;
    }
    nav li {
        display: block;
        width: auto;
        font-size: 100%;
        text-align: center;
        box-shadow: 2px 2px 2px #330000;
        background-color: #663399;
        margin: 1%;
        padding: 2.5%;
    }
    aside {
        display: none;
    }
    img {
        max-width: 100%;
        min-width: 60%;
        height: auto;
        margin: auto;
    }
    div {
        overflow: hidden;
        width: 100%;
    }
}